<div class="hero-unit">
  <div>
    <h1>
        About Us
    </h1>
    <p>
      We are a group out of Berkeley!
    </p>
  </div>
</div>
<div class="row-fluid">
  <div class="span4">
    <div>
      <h2>
        Peter
      </h2>
      <p>
        I'm here
        <img id="peterpic" src="https://sphotos-a.xx.fbcdn.net/hphotos-snc7/304708_10151189517065980_1426875038_n.jpg" style="width:400px"/>
      </p>
    </div>
    <a class="btn" onclick="$('#peterpic').hide()">
      Hide Picture
    </a>
  </div>
  <div class="span4">
    <div>
      <h2>
        Another Member
      </h2>
      <p>
        Their Bio
      </p>
    </div>
  </div>
</div>

