<%- partial('standard_topbar.ejs') %>

<div class="content-padded">

<ul class="list inset">
  <li>
    <a href="/listusers" data-transition="slide-in">
      <strong>Users</strong>
      <span class="chevron"></span>
    </a>
  </li>
</ul>

</div>

<script type="text/javascript">

window.addEventListener('push', function() {
  console.log('did push');
  console.log(arguments);
});

</script>

<%- partial('standard_footer.ejs') %>