<%- partial('standard_topbar.ejs') %>

<div class="content-padded">

<h1 style="padding:10px;">
    Our Awesome Users:
</h1>


<ul class="list inset">
  <% for (var i = 0; i < users.length; i++) { %>
    <li>
      <a href="/user/<%=users[i]%>">
        <strong>
          <%= users[i] %>
        </strong>
        <span class="chevron"></span>
      </a>
    </li>
  <% } %>
</ul>

</div>

 <%- partial('footer.ejs') %>
 
