<%- partial('standard_topbar.ejs') %>

<div class="content-padded">

<h1 style="padding:10px;">
    Our Awesome Plants:
</h1>

<ul class="list inset">
  <% for (var i = 0; i < plants.length; i++) { %>
    <li>
      <a href="/plant/<%=plants[i]%>">
        <strong>
          <%= plants[i] %>
        </strong>
        <span class="chevron"></span>
      </a>
    </li>
  <% } %>
</ul>

</div>

 <%- partial('footer.ejs') %>
 
