<p>

This prompts you to water your plant.

  <form action="/water_plant" method="post">
    <div class="control-group"
      <label for="username">
        Username or plant name (enter whatever you want)
      </label>
      <input name="username" type="text">
      <input type="submit" value="Water your plant">
    </div>
  </form>

</p>

