
<p>

Mobile home page. You shouldn't normally see this

<a href="/mobile_water_prompt"> Enter water prompt </a>

<div>

    <form action="/text_user" method="post">
      <div class="control-group">
        <label for="phonenumber">
          User to text (only valid entries here are 'jill' or 'peter')
        </label>
        <input name="username" type="text">
        <input type="submit" value="Text this person">
      </div>
    </form>
</div>

</p>

