<%- partial('standard_topbar.ejs') %>

<div class="content-padded">

<h1 style="padding:10px;">
    Sign on up!
</h1>

<% if (error) { %>
  <div style="background:red;color:white;font-weight:bold;padding:5px;margin:5px;">
    <%= error %>
  </div>
<% } %>

<form id="signup" method="post" action="/signup">
  <div class="input-group">
    <input type="text" name="name" placeholder="Full name"/>
    <input type="tel" name="phone" placeholder="Phone"/>
  </div>
</form>

<a id="signupbutton" class="button-positive button-block">Signup</a>

<script type="text/javascript">

// submit the form when the button is clicked
$(document).ready(function() {
  $('#signupbutton').click(function() {
    $('#signup').submit();
  });
});

</script>
</div>

<%- partial('standard_footer.ejs') %>
