<p>

This prompts you to water your plant.

  <form action="/water_plant" method="post">
    <div class="control-group">
      <label for="username">
        Username (or maybe plant name eventually)
      </label>
      <input name="username" type="text" value="<%= username%>">
      <input type="submit" value="Water your plant">
    </div>
  </form>

</p>

